*.aux
*.log
*.toc
*.out
*.nav
*.snm
*.fls 
*.fdb_latexmk
*.glg
*.glo
*.gls
*.ist
vorkurs.pdf
vorkurs.zip
**/vorkurs/
folien/folien.pdf
folien/passwort.tex
folien_abschied/folien.pdf
_minted-vorkurs/
vorkurs/
vorkurs.zip
pool_setup/poolpw
