*.aux
*.log
*.toc
*.out
*.nav
*.snm
*.fls 
*.fdb_latexmk
vorkurs.pdf
vorkurs.zip
**/vorkurs/
folien/folien.pdf
folien/passwort.tex
folien/folien_abschied.pdf
_minted-vorkurs/
vorkurs/
vorkurs.zip
pool_setup/poolpw
title.pdf
